<launch>
  <!--qualisys-->
  <node pkg="qualisys_mocap" exec="qualisys_node" name="qualisys" output="screen">
    <param name="server" value="192.168.123.2"/>
  </node>

  <node pkg="tf2_ros" exec="static_transform_publisher" output="screen" args="--frame-id map --child-frame-id qualisys"/>
  <node pkg="tf2_ros" exec="static_transform_publisher" output="screen" args="--frame-id map --child-frame-id odom"/>

  <group>

    <push-ros-namespace namespace="drone1"/>

    <node pkg="tf2_ros" exec="static_transform_publisher" output="screen" args="--frame-id drone1 --child-frame-id base_link"/>

    <!--topic relay for mocap-->
    <node pkg="topic_tools" exec="relay" name="relay" output="log" args="odom mavros/odometry/out"/>

    <!-- mavros -->
    <node pkg="mavros" exec="mavros_node" namespace="mavros" output="screen">
      <param name="fcu_url" value="udp://0.0.0.0:14170@192.168.123.170:14557" />
      <param name="gcs_url" value="udp://@127.0.0.1" />
      <param name="target_system_id" value="1" />
      <param name="target_component_id" value="1" />
      <param name="fcu_protocol" value="v2.0" />
      <param from="$(find-pkg-share mocap)/launch/px4_pluginlists.yaml" />
      <param from="$(find-pkg-share mocap)/launch/px4_config.yaml" />
    </node>

  </group>

</launch>

<!-- vim set ft=xml ts=2 sw=2 et: -->
